#container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .column{
    width : 15%;
    min-height : 250px;
    border : 1px solid black;
  }

  #add_column{
    align-self: flex-end;
  }
}