@media only screen and (max-width: 2000px) {
  body {
    padding: 0px;
    margin: 0px; }
    body #container {
      width: 80%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;
      border: 3px solid #0079BF;
      border-radius: 10px;
      background: #0079BF; }
      body #container .drop_hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset; }
      body #container .column {
      body #container .dropper {
        width: 28%;
        min-height: 250px;
        border: 2px solid #0079BF;
        margin: 50px auto;
        padding: 5px;
        border-radius: 10px;
        background: #E9E9EB;
        display: flex;
        flex-direction: column; }
        body #container .dropper .all_icons_column {
          padding: 5px;
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          body #container .dropper .all_icons_column .icon {
            padding: 5px 0;
            cursor: pointer;
            width: 10%;
            text-align: center; }
        body #container .dropper .title_column {
          text-align: center;
          cursor: pointer;
          font-weight: bold;
          font-size: 1em;
          border-bottom: 1px solid #0079BF;
          width: 100%;
          min-height: 30px; }
        body #container .dropper input {
          width: 100%; }
        body #container .dropper .input_text {
          width: 95%; }
        body #container .dropper .draggable {
          width: 90%;
          margin: 5px auto;
          border: 2px solid #0079BF;
          padding: 5px;
          min-height: 20px;
          border-radius: 10px;
          background: #F6F7F9;
          display: flex;
          flex-direction: column; }
          body #container .dropper .draggable .all_info_task .all_icons_task {
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between; }
            body #container .dropper .draggable .all_info_task .all_icons_task .icon {
              padding: 5px 0;
              cursor: pointer;
              width: 10%;
              text-align: center; }
          body #container .dropper .draggable .all_info_task .toVerif {
            display: none; }
          body #container .dropper .draggable .taskTitle {
            text-align: center;
            cursor: pointer;
            font-weight: bold;
            font-size: 1em;
            border-bottom: 1px solid #0079BF;
            width: 100%;
            height: 30px; }
          body #container .dropper .draggable .hide_title {
            width: 90%; }
          body #container .dropper .draggable .taskDescription {
            font-family: 'Roboto', sans-serif;
            color: lightslategray; }
          body #container .dropper .draggable textarea {
            width: 100%;
            height: 50px; }
          body #container .dropper .draggable .zoom {
            position: absolute;
            background-color: #FFFFFF;
            padding: 20px;
            left: 15%;
            width: 70%;
            height: 250px;
            border-radius: 20px;
            border: 1px solid black; }
            body #container .dropper .draggable .zoom .taskTitle {
              font-family: 'Lato', sans-serif;
              display: flex;
              justify-content: space-between;
              font-weight: bold;
              font-size: 1em;
              border: 1px solid black; }
            body #container .dropper .draggable .zoom .taskDescription {
              font-family: 'Roboto', sans-serif;
              color: lightslategray; }
        body #container .dropper .none {
          display: none; }
    body header {
      width: 100%;
      height: 50px;
      background: #0079BF;
      text-align: center; }
      body header a {
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Pacifico', cursive;
        font-size: 1.3em; }
    body #top {
      height: 50px;
      text-align: center;
      padding-top: 25px;
      width: 100%; } }
@media only screen and (max-width: 960px) {
  body #container .dropper {
    width: 40%;
    margin: 5px auto;
    min-height: 50px;
    background: #CCCCCC; }
    body #container .dropper .draggable {
      background: #FFFFFF; }
  body #container .zoom {
    padding: 20px;
    left: 7%;
    width: 80%;
    height: 150px;
    border-radius: 20px; }
    body #container .zoom .taskDescription {
      color: #222222; } }
@media only screen and (max-width: 640px) {
  body #container .dropper {
    width: 90%;
    margin: 5px auto;
    min-height: 50px;
    background: #CCCCCC; }
  body #container .zoom {
    padding: 20px;
    left: 7%;
    width: 80%;
    height: 150px;
    border-radius: 20px; }
    body #container .zoom .taskDescription {
      color: #222222; } }

/*# sourceMappingURL=style.css.map */
